
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 10px;
}

.messages {
  flex: 1;
  padding: 10px;
  background-color: $background-colour;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.btn-send {
  text-decoration: none;
  border: none;
  background: $accent-colour;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  margin-left: 40px;
  &:hover {
    background: #0a84d5;
  }
}
