// Specific CSS for your home-page
.container-home .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h1 {
    font-size: 120px;
    font-weight: bolder;
    margin-bottom: -5px;

  }

  h3 {
    font-size: 50px;
    font-weight: bolder;


  }

  .buttons-home {
    display: flex;
    justify-content: space-around;

    .link-colour {
      color: white;

      a {
        color: white;
        text-decoration: none;
      }
    }

    #btn-index {
      background-color: black;
      box-shadow: 5px 10px 10px rgb(98, 97, 97);
      padding: 10px 50px 10px 50px;
      margin: 20px;
      border-radius: 5px;
    }

    #btn-index:hover {
      background-color: gray;
      border: 2px solid black;
      transition: 0.2s ease;
    }

    #btn-become-interviewer {
      background-color: black;
      box-shadow: 5px 10px 10px rgb(98, 97, 97);
      padding: 10px 30px 10px 30px;
      margin: 20px;
      border-radius: 5px;
    }

    #btn-become-interviewer:hover {
      background-color: gray;
      border: 2px solid black;
      transition: 0.2s ease;
    }

  }
}
