.mybookings {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: min-content;
  padding-right: 10px;
}

.bookings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding-left: 10px;

  h4 {
    margin-top: 20px;
    margin-bottom: 4px;
  }
}

.booking-requests {
  padding: 20px;
}
