.navbar-extender {
  height: 25vh;
  background-color: $primary-colour;
  position: relative;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-avatar-show {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 70%;
  border: 1px solid white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

// .user-details {
//   // background-color: bisque;
// }

// .user-buttons {
//   // background-color: rgb(241, 196, 255);
// }

.social-media-list {
  list-style: none;
  padding: 0;
  margin-left: 45px;
}

.social-media-list li {
  display: inline-block;
}

.social-link-img {
  transition: 0.1s ease-in-out;
  height: 20px;
}

.social-link-img:hover {
  transform: translateY(-3px);
}

.show-social-links {
  display: flex;
  align-items: center;
}

.user-names-links {
  display: flex;
  align-items: center;
  justify-content: start;
}

.username-location-etc {
  display: flex;
  justify-content: space-between;
}

.username-location-etc p {
  opacity: 0.6;
}

.user-details-buttons {
  border-bottom: solid 1px #dadedd;
  margin-bottom: 30px;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-buttons {
  display: flex;
  justify-content: end;
  padding-bottom: 16px;
}

.top-buttons {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

#reviews-button {
  background-color: $secondary-colour;
  border: 0px;
  padding: 20px 25px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  &:hover {
    background-color: #4b6d8a;
  }
}

#book-button {
  margin-left: 8px;
  background-color: $accent-colour;
  border: 0px;
  padding: 20px 30px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  &:hover {
    background-color: rgb(25, 161, 125);
  }
}

#years-exp-panel {
  margin-left: 8px;
  margin-top: 5px;
  border: 0px;
  padding: 4px 15px;
  background-color: $primary-colour;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#years-exp-panel p {
  color: $text-colour;
  opacity: 0.7;
  font-size: 12px;
  margin: 0px;
}

#years-exp-panel h4 {
  color: $text-colour;
  font-size: 20px;
  margin: 0px;
}

#interviews-panel {
  margin-left: 8px;
  margin-top: 5px;
  border: 0px;
  padding: 4px 15px;
  background-color: $primary-colour;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#interviews-panel p {
  color: $text-colour;
  opacity: 0.7;
  font-size: 12px;
  margin: 0px;
}

#interviews-panel h4 {
  color: $text-colour;
  font-size: 20px;
  margin: 0px;
}

.main-content-left {
  //background-color: bisque;
  margin-bottom: 30px;
}

.main-content-right {
  display: flex;
  justify-content: end;
}

.carousel-caption-header {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 3px 5px;
  border-radius: 2px;
}

.carousel-caption-text {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 3px 5px;
  border-radius: 2px;
}

.some-of-my-projects {
  border-top: solid 1px #dadedd;
  padding-top: 15px;
  margin-bottom: 10px;
}
