.navbar-extender {
  height: 80px;
  background-color: #e0e0e0;
  position: relative;
  overflow: visible;
}

.user-avatar-show {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 30px;
  border: 1px solid white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.user-details {
  // background-color: bisque;
}

.user-buttons {
  // background-color: rgb(241, 196, 255);
}

.social-media-list {
  list-style: none;
  padding: 0;
  margin-left: 45px;
}

.social-media-list li {
  display: inline-block;
}

.social-link-img {
  height: 20px;
}

.show-social-links {
  display: flex;
  align-items: center;
}

.user-names-links {
  display: flex;
  align-items: center;
  justify-content: start;
}

.username-location-etc {
  display: flex;
  justify-content: space-between;
}

.username-location-etc p {
  opacity: 0.6;
}

.user-details-buttons {
  border-bottom: solid 1px rgb(187, 187, 187);
}
