<div class="container">
  <%= render 'shared/filter_bar' %>
</div>

<div class="container">
  <%= render 'shared/review_card' %>
</div>


<div class="container">
  <%= render 'shared/user_card' %>
</div>
