
  <div class="filter-bar border bg-light">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <!-- Years Experience -->
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingYearsExperience">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Years Experience
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="headingYearsExperience" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-unstyled" data-filter-users-target="years" >
              <li>
                  <input type="checkbox" name="years_experience[]" value="M" data-action='change->filter-users#filterUsers'> 3-5 Mid Level
              </li>
              <li>
                  <input type="checkbox" name="years_experience[]" value="S" data-action='change->filter-users#filterUsers'> 5+ Senior
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Language -->
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingLanguage">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Language
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingLanguage" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <label>
                  <input type="checkbox" name="language[]" value="English" data-action='change->filter-users#filterUsers'> English
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="language[]" value="French" data-action='change->filter-users#filterUsers'> French
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="language[]" value="Spanish" data-action='change->filter-users#filterUsers'> Spanish
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="language[]" value="Dutch" data-action='change->filter-users#filterUsers'> Dutch
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Availability -->
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingAvailability">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" >
            Availability
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="headingAvailability" data-bs-parent="#accordionFlushExample" >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <label>
                  <input type="checkbox" name="availability[]" value="Monday" data-action='change->filter-users#filterUsers'> Monday
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="availability[]" value="Tuesday" data-action='change->filter-users#filterUsers'> Tuesday
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="availability[]" value="Wednesday" data-action='change->filter-users#filterUsers'> Wednesday
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="availability[]" value="Thursday" data-action='change->filter-users#filterUsers'> Thursday
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="availability[]" value="Friday" data-action='change->filter-users#filterUsers'> Friday
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Tags -->
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingTags">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Tags
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTags" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-unstyled" data-filter-users-target="tags">
              <li>
              <input type="checkbox" name="tag[]" value="Ruby on Rails" data-action='change->filter-users#filterUsers'> Ruby on Rails
              </li>
              <li>
              <input type="checkbox" name="tag[]" value="HTML" data-action='change->filter-users#filterUsers'> HTML
              </li>
              <li>
              <input type="checkbox" name="tag[]" value="Javascript" data-action='change->filter-users#filterUsers'> JavaScript
              </li>
              <li>
              <input type="checkbox" name="tag[]" value="CSS" data-action='change->filter-users#filterUsers'> CSS
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Sort By -->
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingSortBy">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Sort by
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="headingSortBy" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <label>
                  <input type="checkbox" name="reccomendation[]" value="review"> Most Reccomended
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Reset button -->
      <div class="accordion-item mb-3">
        <h2 class="accordion-header">
          <input class="btn btn-dark" type="reset" value="Reset">
        </h2>
      </div>
    </div>
  </div>
<!-- JavaScript to Handle Accordion Button Toggle -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const accordionButtons = document.querySelectorAll(".accordion-button");
    accordionButtons.forEach(button => {
      button.addEventListener("click", function() {
        this.classList.toggle("collapsed");
        const collapseTarget = document.querySelector(this.getAttribute("data-bs-target"));
        collapseTarget.classList.toggle("show");
      });
    });
  });
</script>
