<footer class="footer">
  <div class="footer-container">

    <ul class="foot-menu">
      <li class="foot-item">
        <a href="#" class="foot-links">Contact</a>
      </li>
      <li class="foot-item">
        <a href="#" class="foot-links">FAQ</a>
      </li>
      <li class="foot-item">
        <a href="#" class="foot-links">About us</a>
      </li>
    </ul>

    <ul class="footer-social">
      <li class="social-item">
        <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
      </li>
      <li class="social-item">
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="social-item">
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
      <li class="social-item">
        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      </li>
    </ul>

    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>

  </div>
</footer>
