<footer class="footer">
  <div class="footer-content">
    <div class="footer-firststage">
      <a href="/contact">Contact</a>
      <a href="/contact">FAQ</a>
      <a href="/about_us">About us</a>
    </div>
    <div class="footer-social">
      <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</footer>
