<nav class="navbar">
  <div class="navbar-container">
    <div class="nav-menu-left">
      <%= link_to "#", class: "navbar-brand" do %>
        <div class="logo-circle">
          <span>logo</span>
        </div>
      <% end %>
    </div>

    <ul class="nav-menu-center">
      <li class="nav-item">
        <a href="<%= root_path %>" class="nav-links">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-links">Flashcards</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-links">Messages</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-links">Interviews</a>
      </li>
    </ul>

    <div class="nav-menu-right">
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <form class="search-form">
          <input class="form-control me-2 search-bar-box" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="navbar-avatar-2">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "rails nav-link" %>
        <% end %>
      </div>
    </div>

    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>

  </div>
</nav>
