<div class="container-home">
  <div class="banner">
    <h1>First Stage<h1>
    <h3>Find Your....<h3>
    <div class="buttons-home">
      <div id="btn-home"><h4>Find an Interviewer<h4></div>
      <div id="btn-home"><h4>Find an Interviewee<h4></div>
    </div>
  </div>

  <div class="container-cards">
      <div class="card">
        <h5>First-stage...</h5>
        <p>Here to support with getting you ready for that all important interview in the world of tech</p>
      </div>

      <div class="card">
        <h5>Find an interviewer</h5>
        <p>To help you prepare by practising with experts before you complete the real interview.</p>
      </div>

      <div class="card">
        <h5>Find Interviewee's</h5>
        <p>As companies look to grow build up recruiting expereince with your team to help with practising interview processes</p>
    </div>
  </div>
</div>
