.override-height {
  height: auto !important;
}

.interview-info {
  border: 1px solid #ebe6e6;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: 20px;
}

.time-and-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  i {
    padding-right: 10px;
  }

  a {
    color: $text-colour;
  }
}

.tags-section {
  display: flex;
  justify-content: space-between;
}

.my-interviews-placeholder {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.view-button {
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: $secondary-colour;
  color: $background-colour;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);

  &:hover {
    color: white;
    background-color: $accent-colour;
  }

  .profile-view-button {
    padding-bottom: 10px;
  }
}
