.card-home {
  background-color: $background-colour;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(194, 194, 194);
  margin: 50px;
}

.card-home:hover {
  transform: translateY(-5px);
}

.container-cards-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h5 {
    font-weight: bolder;
  }

  .bi {
    padding-bottom: 10px;
  }

}
