.chat-user-container {
  height: 100%;
  background-color: $background-colour;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-user-infos {
  display: flex;
  margin: 16px;
  justify-content: space-between;
  align-items: center;
}

.avatar-infos {
  display: flex;
  align-items: center;
}

.chat-avatar-img {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 2px 2px 1px rgba(81, 51, 93, 0.2);
}

.chat-user-fullname {
  font-size: 15px;
}

.chat-user-username {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.profile-view-button {
  text-decoration: none;
  padding: 6px 12px;
  background-color: $secondary-colour;
  color: $background-colour;
  border-radius: 6px;
  transition: 0.1s ease-in-out;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);

  &:hover {
    color: white;
    background-color: $accent-colour;
  }
}

.chat-user-tags p {
  font-size: 14px;
  opacity: .8;
  margin: 0;
  color: $secondary-colour;
}

.chat-individual-tag {
  padding: 8px 10px;
  background-color: #d9f0ff;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.chat-individual-tag p {
  font-size: 12px;
}

.chat-tag-icon {
  height: 18px;
  width: 18px;
}

.chat-user-tags {
  display: flex;
  justify-content: space-evenly;
}

.chat-booking-info, .chat-info-and-tags {
  box-shadow: 2px 2px 2px 1px rgba(175, 105, 189, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ebe6e6;
}

.chat-booking-info-title {
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.chat-booking-start {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chat-booking-end {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.chat-booking-edit {
  text-decoration: none;
  color: $primary-colour;
  margin-right: 6px;

  &:hover {
    color: rgb(39, 39, 164);
  }
}

.chat-booking-delete {
  text-decoration: none;
  color: rgb(227, 78, 78);

  &:hover {
    color: rgb(225, 50, 50);
  }
}

.chat-booking-bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-to-zoom {
  display: flex;
  align-items: center;
}

.go-to-room-button {
  text-decoration: none;
  color: $primary-colour;
  margin-right: 6px;
}

.zoom-icon {
  height: 15px;
  width: 15px;
}

.chat-info-and-tags {
  margin-top: 30px;
  border: 1px solid #ebe6e6;
}

.styling-div {
  height: 100px;
}
