.footer {
  background-color: #e0e0e0;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.foot-menu {
  display: flex;
  justify-content: right;
  flex-basis: auto;
  width: 63%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.foot-item {
  margin: 0 50px;
}

.foot-links {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.foot-links:hover {
  color: grey;
}

.footer-social {
  display: flex;
  justify-content: right;
  flex-basis: auto;
  width: 15%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  margin: 0 10px;
  padding: 0 5px;

  i {
    color: #333;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .foot-menu {
    display: none;
  }

  .footer-social {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
