.mybookings-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(227, 227, 227);
}

.mybookings-card:hover {
  background: #e1e1e1;
  color: rgb(119, 119, 119);
  transform: translateY(-2px);
}

.accept-reject-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.accept-button {
  text-decoration: none;
  border: none;
  background: $primary-colour;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  margin-right: 10px;
  &:hover {
    background: #0a84d5;
  }
}

.reject-button {
  text-decoration: none;
  border: 1px solid gray;
  background: none;
  color: gray;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  &:hover {
    color: rgb(228, 89, 25);
    border-color: rgb(228, 89, 25);
  }
}
