.signup-form {
  background-color: $background-colour;
  padding: 10px 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px $accent-colour;
  box-shadow: 0 3px 3px 3px rgba(216, 188, 222, 0.5);

  .btn-primary {
    background-color: $text-colour;
    box-shadow: 5px 10px 10px rgb(98, 97, 97);
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: black;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: $secondary-colour;
    border: 2px solid black
  }

  h2 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
  }

  .btn-forms {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 15px;
  }
  a, a.btn-forms {
    color: $text-colour;
    text-decoration: none;
    :hover {
      color: $text-colour;
    }
  }
  form-input {
    margin-bottom: 2px;
  }

  .form-label {
    margin-bottom: 2px !important;
  }

  .btn-remember-me {
    margin-top: 10px;
  }
}
