.card-user {
  overflow: hidden;
  background-color: $background-colour;
  position: relative;
  box-shadow: 0 0 10px rgba(154, 154, 154, 0.2);
  border-radius: 10px;
  margin: 10px;
  margin-top: 100px;
  height: 350px;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.user-card-avatar {
  display: flex;
  justify-content: center;
}

.user-card-avatar-center {
  margin-top: -40px;
}

.user-avatar-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: solid 1px white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);

}

.capacity-icon {
  display: flex;
}

.card-user-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px;
}

.user-card-tags {
  display: flex;
  justify-content: start;
}

.card-user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $text-colour;
}

.card-user p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-user-tags p {
  font-size: 14px;
  opacity: .8;
  margin: 0;
  color: $secondary-colour;
}

.individual-tag {
  padding: 6px 8px;
  background-color: #d9f0ff;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.individual-tag p {
  font-size: 10px;
}

.tag_icon {
  height: 15px;
  width: 15px;
}

.price-capacity {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.clickable-card {
  text-decoration: none;
  color: $text-colour;
}

.clickable-card p {
  font-family: $body-font !important;
  display: inline-block;
}

.clickable-card h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font !important;
}
